[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python -m nimoy.main"

[dev-packages]
twine = "*"
mkdocs = "*"

[packages]
pyhamcrest = "*"
urllib3 = "*"

[requires]
python_version = "3.8"
