[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
test = "python -m nimoy.main"
test-with-power = "python -m nimoy.main --power-assertions true"
build-docs = "mkdocs build --verbose --clean --strict"

[dev-packages]
twine = "*"
mkdocs = "*"
pylint = "*"
mkdocs-material = "*"

[packages]
pyhamcrest = "==2.0.2"
urllib3 = "==1.26.5"
astor = "0.8.1"

[requires]
python_version = "3.9"
